

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-de-fundo-treino);
    margin: 12em 2em 1em 2em;
    border-radius: 1em;
    padding: 1em;
}

.cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-de-fundo-treino);
    margin: 2em 2em 1em 2em;
    border-radius: 1em;
    padding: 1em;
}

.login__titulo {
    font-size: 2.2em;
    color: var(--cor-de-fundo);
    font-weight: 800;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__div  {
    display: flex;
    flex-direction: column;
    padding: 0.5em 3em;
}

.formulario__div__label {
    color: var(--cor-de-fundo);
    font-weight: 500;
    padding-bottom: 0.5em;
    font-size: 1.3em;
}

.formulario__div__input {
    width: 18em;
    height: 1.6em;
}

.formulario__botao {
    color: white;
    background-color: rgb(21, 102, 41);
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    width: 30%;
    margin: 0.5em;
}

.formulario__adicionais{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.8em;
    margin-top: 0.5em;
}

.formulario__adicionais__link{
    color: var(--cor-de-fundo);
    font-weight: 500;
    font-size: 1.2em;
}

.formulario__div__input__objetivo{
    width: 19em;
    padding: 0.4em;
    color: var(--cor-de-fundo);
    font-weight: 800;

}

.label__pesquisar {
    color: var(--cor-de-fundo-treino);
    font-size: 1em;
    font-weight: 900;
    margin-top: 1em;
}






