

.cabecario__menu {
    background-color: var(--cor-menu);
    padding: 1em;
    display: flex;
    position: relative;
}

.cabecario__menu__icone {
    width: 12%;
    position: absolute;
}

.cabecario__menu__logo{
    width: 15%;
    border-radius: 5px;
}

.container__menu__logo {
    display: flex;
    justify-content: center;
}

.navegacao {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 45vw;
    display: none;
}

.navegacao__lista {
    background-color: var(--cor-menu);
    padding: 1em;
    border: solid 2px var(--cor-de-fundo-treino);
    border-top: none;
}

.navegacao__lista__item {
    font-size: 1.5em;
    padding: 0.5em 0;
    border-bottom: solid 1px var(--cor-de-fundo-treino);
    font-weight: 500;
}

.navegacao__lista__item a {
    text-decoration: none;
    color: var(--cor-fonte-lista-strong);
}

.strong-home{
    color: var(--cor-fonte-titulo);
}
