

.principal__treino {
    padding: 0 1em ;
}

.icone__voltar {
    width: 30px;
    margin-top: 1em;
    
}

.treino__titulo { 
    font-size: 2em;
    font-weight: 700;
    color: var(--cor-fonte-titulo);
    text-align: center;
    margin: 0.5em 0;
    margin-top: 1em;
    
}

.treino {
    background-color: var(--cor-menu);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px var(--cor-de-fundo-treino) ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    margin: 1em 0;
 
}

.treino__container__conteudo{
    display: flex;
    flex-direction: column;
}

.treino__container__serie{
    display: flex;
}

.treino__container__conteudo__titulo{
    font-weight: 500;
    color: rgb(192, 141, 104);
    font-size: 1.3em;
}

.treino__container__conteudo__exercicio{
    color: var(--cor-fonte-titulo);
    font-weight: 500;
    font-size: 1.3em;
    padding-top: 0.5em;
}

.treino__container__serie{
    display: flex;
    align-items: center;
}

.treino__container__conteudo__serie {
    color: rgb(192, 141, 104);
    font-size: 1.3em;
}

.div__botao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.botao__concluido {
    background-color: #4f8586;
    padding: 0.5em 1em;
    font-size: 1.4em;
    color: var(--cor-fonte-titulo);
    border-radius: 5px;
}

/*Pagina gif*/

.treino__gif{
    width: 100%;
}

.treino__gif__sessao{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.treino__gif__titulo{
    font-weight: 500;
    color: var(--cor-fonte-titulo);
    font-size: 1.3em;
    margin-top: 1em;
}

.treino__gif__div{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin: 0.5em 0;
    border: 1px solid var(--cor-fonte-titulo);
    padding: 0.9em 1.2em;
    background-color: var(--cor-menu);
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.treino__gif__subdiv{
    display: flex;
    gap: 9px;
}

.serie__titulo{
    color: var(--cor-fonte-titulo);
    font-size: 1.3em;
}

.treino__gif__div__descricao{
    color: rgb(192, 141, 104);
    font-size: 1.3em;
}

/* pagina treino admin */

.adicionar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-de-fundo-treino);
    margin: 2em 2em 1em 2em;
    border-radius: 1em;
    padding: 1em;
}

.adicionar__titulo {
    font-size: 2em;
    font-weight: 700;
    color: var(--cor-fonte-titulo);
    text-align: center;
    margin: 1em 0 0 0;

}

.container__excluir{
    display: flex;
    justify-content: end;
}

.botao__excluir {
    color: #ca3636;
    font-weight: 500;
    font-size: 1.2em;
    border-bottom: solid 2px #ca3636;
}

.treino__admin {
    margin: 0.4em 0
}